run = "node server.js"
language = "nodejs"
entrypoint = "server.js"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_11"
packages = ["nodejs-20-v8"]

[env]
PORT = "3000"

[[ports]]
localPort = 3000
externalPort = 80
